
@{
    ViewBag.Title = "EasyUI_Index";
}

<h2>EasyUI_Index</h2>
@section headsection
{
        <script type="text/javascript">
            function formatterdate(val, row) {
                if (val != null) {
                    var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
                    var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                    var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                    var hours = date.getHours();
                    var minutes = date.getMinutes();
                    var seconds = date.getSeconds();
                    // var milliseconds = date.getMilliseconds();
                    //return date.getFullYear() + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
                    //当前需要这种时间格式MM/dd/yyyy hh:mm:ss
                    return month + "/" + day + "/" +date.getFullYear()+" "+ hours + ":" + minutes + ":" + seconds;
                }
            }
            $(function () {

                $("#tbList").datagrid({
                    title: 'DataGrid - DetailView',
                    view: detailview,
                    fitColumns: true,
                    nowrap: false,
                    detailFormatter: function (index, row) {
                        return '<div class="record_info"></div>';
                    },
                    onExpandRow: function(index,row){
                        var ddv = $(this).datagrid('getRowDetail', index).find('div.record_info');
                        
                        ddv.panel({
                            border:false,
                            cache:true,
                            href: '/Order/Retrieve_Single_Order/' + row.OrderId+"?index="+index,
                            onLoad:function(){
                                $('#tbList').datagrid('fixDetailRowHeight', index);
                                $('#tbList').datagrid('selectRow', index);
                                $('#tbList').datagrid('getRowDetail',index).find('form').form('load',row);
                                console.log(row);
                                //$("#dt_box").datetimebox('setValue', '10/08/1990 23:15:10'); 
                                $("#OrderDate").datetimebox('setValue', formatterdate(row.OrderTime, null));
                                $.validator.unobtrusive.parse("#order_detail");
                                
                            }

                        });
                        $('#tbList').datagrid('fixDetailRowHeight',index);
                        jQuery.validator.unobtrusive.parse();
                    },
                    url: "/Order/GetPageList",
                    width: 700,
                    height:600,

                    striped: true,
                    
                    rownumbers: true,
                    columns: [[
                        { field: "OrderId",width:50},
                        { field: 'OrderTime', title: 'OrderTime', formatter: formatterdate, width: 50 },
                        { field: 'Status', title: 'Status', width: 50 },
                        { field: 'CustomerName', title: 'CustomerName', width: 50 },
                    ]],
                    toolbar: [{
                        iconCls: 'icon-edit',
                        text: 'Edit',
                        handler: function () { alert('编辑按钮') }
                    }, '-', {
                        iconCls: 'icon-remove',
                        text: 'Delete',
                        handler: function () {
                            //$('#tbList').datagrid('deleteRow', 1);// 索引从0开始
                            //$('#tbList').datagrid('reload');刷新一下
                            var row = $('#tbList').datagrid('getSelected');
                            if (!row) {
                                $.messager.alert('Wrong operation', 'You haven\'t choose row yet ', 'error');
                            }
                            else {
                                $.messager.confirm('Warning', 'Do you want to delele this row？', function (r) {
                                    if (r) {
                                        // delete操作;
                                        
                                        alert(row.OrderId);
                                        $.ajax({
                                            type: "POST",
                                            url: "/Order/Del/" + row.OrderId,
                                           

                                            success: function (msg) {

                                                $('#tbList').datagrid('reload');

                                            }
                                        });
                                    }
                                });
                            }

                        }
                    }],
                    pagination: true,
                    singleSelect: true,
                    pageSize: 3,
                    pageList: [3, 10, 30, 40, 50]
                })
            })

            function cancelItem(index) {

                $('#tbList').datagrid('collapseRow', index);

            }
        </script>
}

<table id="tbList" >
    <!--<tr>
        <th>DatabaseID</th>
        <th>Timestamp</th>
        <th>Subject</th>
        <th>Verb</th>
        <th>Object</th>
    </tr>-->
</table>
<style type="text/css">
    form {
        margin: 0;
        padding: 0;
    }

    .dv-table td {
        border: 0;
    }

    .dv-table input {
        border: 1px solid #ccc;
    }
</style>

